@import url('https://fonts.cdnfonts.com/css/poppins');
*{
    margin: 0;
    padding:0%;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 100% ของ Viewport Height */
    margin: 0; /* ลบ margin ที่ถูกกำหนดมาตั้งแต่แรกเริ่ม */
}
nav{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 200px;
    background: #162938;
    display:flex;
    justify-content: space-between;
    z-index: 99;
    /* border:2px solid red; */
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding:20px 25px;
    color:white;
    text-decoration: none;
    text-align: center;
}

ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background:#162938 ;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background:#162938 ;
}
ul li:hover ul.dropdown{
    display: block;
}
.logo a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 2em;
    
}

.banner{
    display: flex;
    justify-content:center;
    border: 2px solid red;
    margin: 150px auto 50px auto;
    list-style:none;
    
}
.banner li{
    padding-left: 20px;
}

.heading{
    font-size: 20px;
    color:black;
    text-transform: capitalize;
    margin-bottom:2rem;
    text-align: center;
 
}
.empty{
    background-color: white;
    border:none;
    box-shadow: 0 0 30px rgba(0,0, 0, .5);
    color:red;
    text-transform: capitalize;
    font-size: 1rem;
    text-align:center;
    width:55%;
    border-radius: .5rem;
    

}
.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
  
}
.Gameimage {
    max-width: 70%; /* หรือความกว้างที่คุณต้องการ */
    height: auto;
  }

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.front,.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1),
  -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}


.front:after{
  position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: 0.5;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2.9rem;
  margin-bottom: 2rem;
  position: relative;

}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}